@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "SwampWitch";
    src: url("../public/fonts/SwampWitch.ttf");
  }
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}
